<h2>Add a New Celebrity</h2>

<form action="/celebrities" method="POST">
  <label for="name">name: </label>
  <input type="text" name="name" id="name">

  <label for="Cccupation">Occupation: </label>
  <input type="text" name="occupation" id="occupation">

  <label for="catchPhrase">catchPhrase: </label>
  <input type="text" name="catchPhrase" id="catchPhrase">

  <button type="submit">Add a Celebrity</button>
  
</form>